@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("ttf"), url("/fonts/OpenSans-Bold.ttf") format("ttf"), url("/fonts/OpenSans-Italic.ttf") format("ttf"); }

.header-logo {
  display: flex;
  align-items: center; }

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.header {
  display: block;
  background: #212121;
  height: 80px;
  width: 100%; }

.header-logo__supportix-logo {
  width: 180px;
  height: 80px;
  padding-bottom: 5px;
  box-sizing: border-box; }

.header-nav {
  display: flex;
  align-items: center; }
  .header-nav__item {
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding: 0px 14px;
    color: #fff;
    font-weight: 700; }
  .header-nav__item:first-child:after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 100%; }
  .header-nav__link {
    text-decoration: none;
    color: #fff; }
  .header-nav__title {
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 14px;
    color: #fff; }

.header-container {
  display: flex;
  justify-content: space-between; }
